/*  RaidAttendance Stylesheet
    --------------------------------------------------------------
*/

.even {
	background: #00002f;
}
.uneven {
	background: #00003f;
}
.small {
	width: 20px;
}
.mini {
	width: 10px;
}
.STATUS_NEW {
	color: green;
}
.STATUS_UPDATED {
	color: #404040;
}
.STATUS_NOT_IN_ARMORY {
	color: red;
}
.new_raider {
	background: #ffd0d0;
}
td.sum {
	text-align: center;
}
b.on {
	color: #005000;
}
b.off {
	color: #000080;
}
b.noshow {
	color: #500000;
}

.even_future {
	background: #005000;
	height: 32px;
	border-width: 0px 1px 0px 1px;
	border-style: none none none solid;
	border-color: #00002f
}
.even_past {
	background: #500000;
	height: 34px;
	border-width: 0px 1px 0px 1px;
	border-style: none none none solid;
	border-color: #00002f
}
.uneven_future {
	background: #006000;
	height: 32px;
	border-width: 0px 1px 0px 1px;
	border-style: none none none solid;
	border-color: #00003f
}
.uneven_past {
	background: #600000;
	height: 34px;
	border-width: 0px 1px 0px 1px;
	border-style: none none none solid;
	border-color: #00003f
}
a.static:visited, a.static:link, a.static:active, a.nav {
	text-decoration: none;
	font-weight: bold;
	color: #777777;
}
a.off, a.static:visited.signoff, a.static:link.off, a.static:active.off {
	color: yellow;
	background: none;
}
#raid_table tr td a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #770000;
}
#raid_table tr td:first-child {
	padding-left: 5px;
}
td.legend {
	vertical-align: middle;
}
/**
 * Status Boxes
 **/
.successbox, .errorbox {
	padding: 8px;
	margin: 10px 0;
	color: #FFFFFF;
	text-align: center;
}

.success {
	color: #228822;
}

.error {
	color: #BC2A4D;
}

.successbox {
	background-color: #228822;
}

.errorbox {
	background-color: #BC2A4D;
}

* html .errorbox, * html .successbox { height: 1%; } /* Pixel shift fix for IE */

.successbox h3, .errorbox h3 {
	color: #FFFFFF;
	margin: 0 0 0.5em;
	font-size: 1.10em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
}

.successbox p, .errorbox p {
	color: #FFFFFF;
	font-size: 0.85em;
	margin-bottom: 0;
}

.errorbox a:link, .errorbox a:active, .errorbox a:visited,
.successbox a:link, .successbox a:active, .successbox a:visited {
	color: #DBD7D1;
	text-decoration: underline;
	font-weight: bold;
}

.errorbox a:hover, .successbox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

/**
 * Class Colors as taken from http://www.wowwiki.com/Class_colors
 **/
/* Warrior */
.class_1, a.class_1:link, a.class_1:active, a.class_1:visited {
	color: #C79C6E;
	font-weight: bold;
}
/* Paladin */
.class_2, a.class_2:link, a.class_2:active, a.class_2:visited {
	color: #F58CBA;
	font-weight: bold;
}
/* Hunter */
.class_3, a.class_3:link, a.class_3:active, a.class_3:visited {
	color: #ABD473;
	font-weight: bold;
}
/* Rogue */
.class_4, a.class_4:link, a.class_4:active, a.class_4:visited {
	color: #FFF569;
	font-weight: bold;
}
/* Priest */
.class_5, a.class_5:link, a.class_5:active, a.class_5:visited {
	color: #FFFFFF;
	font-weight: bold;
}
/* Death Knight */
.class_6, a.class_6:link, a.class_6:active, a.class_6:visited {
	color: #C41F3B;
	font-weight: bold;
}
/* Shaman */
.class_7, a.class_7:link, a.class_7:active, a.class_7:visited {
	color: #2459FF;
	font-weight: bold;
}
/* Mage */
.class_8, a.class_8:link, a.class_8:active, a.class_8:visited {
	color: #69CCF0;
	font-weight: bold;
}
/* Warlock */
.class_9, a.class_9:link, a.class_9:active, a.class_9:visited {
	color: #9482C9;
	font-weight: bold;
}
/* Druid */
.class_11, a.class_11:link, a.class_11:active, a.class_11:visited {
	color: #FF7D0A;
	font-weight: bold;
}
