<!-- INCLUDE overall_header.html -->
<a name="maincontent"></a>

<h1>{L_TITLE}</h1>

<p>{L_TITLE_EXPLAIN}</p>

<!-- IF S_ERROR -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{ERROR_MSG}</p>
	</div>
<!-- ENDIF -->

<table class="raiders">
	<thead>
		<tr>
			<th>{L_RAIDERS}</th>
			<th>{L_LEVEL}</th>
			<th>{L_RANK}</th>
			<th>{L_CLASS}</th>
		</tr>
	</thead>
	<tbody>
<!-- BEGIN raiders -->
<tr class="{raiders.STATUS}">
	<td>*{raiders.STATUS}* {raiders.RAIDER_NAME}</td>
	<td>{raiders.LEVEL}</td>
	<td>{raiders.RANK}</td>
	<td>{raiders.CLASS}</td>
</tr>
<!-- END raiders -->
<!-- IF S_AUTH -->
	<!-- BEGIN auth_tpl -->
		{auth_tpl.TPL}
	<!-- END auth_tpl -->
<!-- ENDIF -->
</tbody>
</table>
<!-- INCLUDE overall_footer.html -->

